<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.larpy.xcom.fieldscanner_v3"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cz.larpy.xcom.fieldscanner_v3.HubActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cz.larpy.xcom.fieldscanner_v3.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.larpy.xcom.fieldscanner_v3.ScannerActionActivity"
            android:label="@string/title_activity_scanner_action"
            android:parentActivityName="cz.larpy.xcom.fieldscanner_v3.HubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.larpy.xcom.fieldscanner_v3.HubActivity" />
        </activity>
        <activity
            android:name="cz.larpy.xcom.fieldscanner_v3.ScannerRecords.RecordListActivity"
            android:label="@string/title_activity_record_list"
            android:parentActivityName="cz.larpy.xcom.fieldscanner_v3.HubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.larpy.xcom.fieldscanner_v3.HubActivity" />
        </activity>
        <activity
           android:name="cz.larpy.xcom.fieldscanner_v3.ScannerRecords.RecordDetailActivity"
            android:label="@string/title_activity_record_detail"
            android:parentActivityName="cz.larpy.xcom.fieldscanner_v3.ScannerRecords.RecordListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.larpy.xcom.fieldscanner_v3.RecordListActivity" />
        </activity>
        <activity
            android:name="cz.larpy.xcom.fieldscanner_v3.ScannerResearch.ResearchActivity"
            android:label="@string/title_activity_reseach"
            android:parentActivityName="cz.larpy.xcom.fieldscanner_v3.HubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.larpy.xcom.fieldscanner_v3.HubActivity" />
        </activity>
        <activity
            android:name="cz.larpy.xcom.fieldscanner_v3.ScannerResearch.ResearchDetailActivity"
            android:label="@string/title_activity_research_detail"
            android:parentActivityName="cz.larpy.xcom.fieldscanner_v3.HubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.larpy.xcom.fieldscanner_v3.HubActivity" />
        </activity>
        <activity
            android:name="cz.larpy.xcom.fieldscanner_v3.Update"
            android:label="@string/title_activity_update" >
        </activity>
        <activity
            android:name="cz.larpy.xcom.fieldscanner_v3.UpgradeActivity"
            android:label="@string/title_activity_upgrade"
            android:parentActivityName="cz.larpy.xcom.fieldscanner_v3.HubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.larpy.xcom.fieldscanner_v3.HubActivity" />
        </activity>
        <activity
            android:name="cz.larpy.xcom.fieldscanner_v3.SnifferActivity"
            android:label="@string/title_activity_sniffer"
            android:parentActivityName="cz.larpy.xcom.fieldscanner_v3.HubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.larpy.xcom.fieldscanner_v3.HubActivity" />
        </activity>
        <activity
            android:name="cz.larpy.xcom.fieldscanner_v3.ScannerPuzzle.ScannerPuzzleActivity"
            android:label="@string/title_activity_scanner_puzzle"
            android:parentActivityName="cz.larpy.xcom.fieldscanner_v3.HubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.larpy.xcom.fieldscanner_v3.HubActivity" />
        </activity>
    </application>

</manifest>
